html {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    background: url("food-back.jpg")
}

.maintitle {
    display: inline-block;
    width: 70%;
    height: auto;
    margin: auto;
    padding: 1px;
    /*filter: blur(4px);*/
    /*background-color: rgba(256,256,256,0.7);*/
    text-align: center;
    color: #fff;
    text-stroke: 1px #000;
  -webkit-text-stroke: 2px #000;
    font-size: 30px;
    text-shadow: 3px 5px 3px #bbbbbb;
    
}
p{
    margin: 2px;
}
.midasi{
    border-bottom: solid 1px #000;
}

#shop_info{
    position: relative;
    display: inline-block;
    width: 50%;
    height: auto;
    float: left;
}
#address{
   position: relative;
    display: inline-block;
    width: 50%;
    height: 90%;
    float: left; 
}
#mapframe{
    position: relative;
    display: inline;
}
#map{
    position: relative;
    display: inline-block;
    width: 95%;
    height: 100%;
}
.pagemain {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    /*background-color: rgba(256,256,256,0.5);*/
    width: 70%;
    height: auto;
    margin: auto 0;
    text-align: center;
}
#empty{
    position:relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    width: 60%;
    height: 350px;
}
#result_area{
    position:relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 0px;
    padding: 5px;
    width: 60%;
    height: 400px;
}
#result{
    position:relative;
    display: none;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 350px;
    background-color: #ffeecc;
    border: solid 1px #999999
}

#loc_dist{
    position: relative;
    display: inline-block;
    margin: 5px;
}
.selecter{
    width: 150px;
    padding:5px;
    background: #999999
    font-size: 18px;
    font-weight: bold;
    border: inset 5px #999999;
    border-radius: 5px;
}

#gps_eror{
    display: none;
}
#gps_detail{
    position: relative;
    display: none;
}
#rolet_st {
    position: relative;
    width: 300px;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 6px;
}


.act-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 1em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #dd4535;    /*背景色*/
    border-radius: 10px;    /*角の丸み*/
    border-bottom: solid 5px #bb3020;    /*少し濃い目の色に*/
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 20px
}

.act-button:active {
    
    border-bottom: solid 2px #bb3020;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);

}
footer{
    position: relative;
    display: inline-block;
    width:70%;
    text-align: center;
}

#credit{
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 2px;
    width: auto;
    height: auto;
}

.creditimg{
    border-radius: 5px;
    border: solid 2px #888888;
}
#way_selector{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 60%;
    height: auto;
    /*text-align: center*/
   
}
.way_selection{
    position: relative;
    display: inline-block;
    width: 100%;
    
}
.way_type{
    position:relative;
    display: inline-block;
    width:98%;
    height:45px;
    margin: 5px 2px 0px 2px;
    padding: 2px;
    background-color:#3ea8ef;
    line-height: 40px;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
    /*border: solid 2px #0013bf;*/
    border-radius: 10px 10px 0px 0px;
}
.details{
    position: relative;
    display: inline-block;
    width: 98%;
    height: auto;
    margin: 0px 2px 5px 2px;
    background-color: #dddddd;
    border: solid 2px #aaaaaa
}
#detail_label{
        position: relative;
    display: inline-block;
    
    
    
}
.detailer{
    margin: 2px;
    border: solid 1px
}
.way_detail{
    
}

.detailarea{
    vertical-align: middle;
}
.optionalarea{
    position: relative;
    display: flex;
    flex-wrap: wrap;
     justify-content:center;
    margin: 5px;
    padding: 10px;
    /*border: solid 1px;*/
   
    
}
#triangle{
    position: relative;
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-top: 2px;
    border-top: solid 8px #000000;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
    border-bottom: solid 8px transparent;
}
.detail_on:hover{
    background-color: #888;
    
}
.radio-input{
  display: none;
    
}
.radio-input + label{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
}
.radio-input + label:hover{
    color: #fff;
}
.radio-input + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 50%;
}
.radio-input:checked + label{
  color: #eeeeee;
}
.radio-input:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
  background: #fff;
  border-radius: 50% ;
    border: solid 2px #aaa;
}
.checkboxes{
    position: relative;
    display: inline-block;
}
.checkbox{
    display: none;
}
.checkbox-parts{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
}
.checkbox-parts +label{
    position: relative;
    padding: 5px;
    margin: 2px;
}

.checkbox-parts::before{
     content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 4px;
    
}
.checkbox :checked +.checkbox-parts::after{
    color: #fff;
}
.checkbox:checked + .checkbox-parts::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom:  solid 3px #d01137;
  border-right:  solid 3px #d01137;
}
.checkbox-parts:hover{
    color: #ffffff;
}