html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
}

.maintitle {
    display: inline-;
    width: 70%;
    height: auto;
    margin: auto;
    padding: 5px;
    text-align: center;
}


.pagemain {
    position: relative;
    display: inline-block;
    background-color: #ddaabb;
    width: 70%;
    height: auto;
    margin: auto 0;
    text-align: center;
}
#result{
    position:relative;
    display: inline-block;
    margin: 5px;
    padding: 4px;
    width: 95%;
    height: 250px;
    
    background-color: azure
}
#loc_dist{
    position: relative;
    display: inline-block;
    margin-top: 550px;
}
.selecter{
    width: 150px;
    padding:5px;
    background: #999999
    font-size: 18px;
    font-weight: bold;
    border: inset 5px #999999;
    border-radius: 5px;
}

#gps_eror{
    display: none;
}

#rolet_st {
    position: relative;
    width: 300px;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 6px;
}


.act-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 1em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #dd4535;    /*背景色*/
    border-radius: 10px;    /*角の丸み*/
    border-bottom: solid 5px #bb3020;    /*少し濃い目の色に*/
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 20px
}

.act-button:active {
    border-bottom: solid 2px #bb3020;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);

}
footer{
    position: relative;
    display: inline-block;
    width:70%;
    text-align: center;
}

#credit{
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 2px;
    width: auto;
    height: auto;
}

.creditimg{
    border-radius: 5px;
    border: solid 2px #888888;
}
#way_selector{
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    width: 60%;
    height: auto;
    text-align: center
   
}
.way_type{
    position:relative;
    display: inline-block;
    width:100%;
    height:45px;
    margin: 5px 2px 0px 2px;
    padding: 2px;
    background-color:#3ea8ef;
    line-height: 40px;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
    box-shadow: 5px;
    border: solid 2px #0013bf;
}
.details{
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0px 2px 5px 2px;
    background-color: #c7cfd6;
}
#detail_label{
        position: relative;
    display: inline-block;
    
    
}
#triangle{
    position: relative;
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-top: 2px;
    border-top: solid 8px #000000;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
    border-bottom: solid 8px transparent;
}
.detail_on{
    
}
.radio-input{
  display: none;
    
}
.radio-input + label{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
}
.radio-input + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 50%;
}
.radio-input:checked + label{
  color:coral
}
.radio-input:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #d01137;
  border-radius: 50%;
}